<%if @wiki.user_id == current_user.id || current_user.role =='admin' %>

<h1>Collaborators for Wiki <%= @wiki.title %></h1>
<!-- %= @wiki.collaborators.inspect%> -->
<table>
  <thead>
    <tr>
      <th> User </th>
      <th> Action </th>
    </tr>
   </thead>
   <tbody>
     <% @users.each do |user| %>
       <tr>
         <td><%= user.name %></td>
         <td>
           
                     <% collaborator = @wiki.collaborators.where( user_id: user.id ).first %>
                     <% if collaborator %>
                     <%= link_to "Remove", "collaborators/#{collaborator.id}" , class: "btn btn-default" %>                                         
                     <% else %>
                       <%= link_to "Add", wiki_collaborators_path(@wiki, user_id: user.id), method: :post, class: 'btn btn-default' %>
                     <% end %>
           
         </td>
       </tr>
     <% end %>
  </tbody>
</table>

<%end%>