                             <div class="media">
                               <div class="media-body">
                                 <h4 class="media-heading">

                                   <%= link_to "#{wiki.title}-#{wiki.private} ", wiki_path(wiki.id) %>
                                               <!-- link  ,   wiki#show -->
                                 </h4>
                               </div>
                             </div>